<p>Hello! You have been invited to join the Bandar server.</p>
<p>Use this link to join: <a href="<%= react_user_invitation_url(@user_invitation) %>"><%= react_user_invitation_url(@user_invitation) %></a>.</p>
